<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmg.mysqlCluster.mapper.VehicleMapper">

    <select id="selectList1" resultType="com.mmg.mysqlCluster.entities.Vehicle">
        select * from vehicle
    </select>



</mapper>